<div id="mainpage">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Cat Forum</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">PlaceHolder1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">PlaceHolder2</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register">Register</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron">
      
        <p></p>
    </div>
</div>
    <div class="home__body__contentMiddle__center">
        <mat-card class="post-message">
          <mat-card-header class="post-message-header"
                           style="padding-bottom: 20px; border-bottom: 1px solid lightgray;">
<!--        
            <form #form="ngForm" (ngSubmit)="postMessage(form)"> -->
                <form>
              <!-- <input class="on-your-mind" name="message" ngModel placeholder="What's on your mind?" type="text"> -->
              <input class="on-your-mind" name="message"  placeholder="What's on your mind?" type="text">
              <button style="display: none;" type="submit"></button>
            </form>

          </mat-card-header>
          <mat-card-content class="card-body">
            <div>
              <mat-icon color="accent">videocam</mat-icon>
              <span>Live Video</span>
            </div>

            <div>
              <mat-icon color="primary">photo_album</mat-icon>
              <span>Photo/Video</span>
            </div>

            <div>
              <mat-icon color="warn">mood</mat-icon>
              <span>Feeling/Activity</span>
            </div>
          </mat-card-content>
        </mat-card>


      </div>
